!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    -each script in scripts 
          script(src= script)
  body
    div#top
      h1= title

      input#text(type="text")
      br
      button#submit Unleash the carrier pigeons!

    ul#messages