!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    -each script in scripts
      script(src= script)
  if username
    body.logged-in
  else
    body

  div#top
    h1.site-title= title

    //-if users
      div#pickUser.show-logged-out
        h3 Pick a user:
        ul
          -each user in users
            li(data-id=user.id)= user.name

    //-p#welcome-msg.show-logged-in Hi 
      span.name= username
      . 
      a.logout(href="/logout") Logout
      .

    form#startConvo
      textarea.msg
      br
      input#submit(type="submit", value="Am I?")

  div.bottom-half
    h2.sub-title Are they?

    ul#messages