@light: lightgoldenrodyellow;
@dark: lightseagreen;

body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: @light;
}

#top {
  padding: 4em 5em 2em 5em;
  background-color: @dark;
  border-bottom: 5px @light dashed;
}

h1.site-title {
  color: @light;
}

.show-logged-out { display: block; }
.show-logged-in { display: none; }
.logged-in .show-logged-out { display: none; }
.logged-in .show-logged-in { display: block; }

#pickUser {
  ul {
    list-style: none;
    li {
      cursor: pointer;
      &:hover {
        color: @light;
      }
    }
  }
}

#startConvo {
  .msg {
    width: 600px;
    height: 120px;
    max-width: 90%;
    max-height: 20%;
    font-size: 110%;
    border: none;
    margin-bottom: 5px;
  }
}

div.bottom-half {
  padding: 1em 5em;
}

.bottom-half h2 {
  color: @dark;
}

ul#messages {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    margin: 1em 0;
  }
}