body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightgoldenrodyellow;
}

h1 {
  color: lightgoldenrodyellow;
}

#text {
  width: 400px;
}

#top {
  padding: 5em 5em 2em 5em;
  background-color: lightseagreen;
  border-bottom: 5px lightgoldenrodyellow dashed;
}

#messages {
  margin: 0;
  padding: 1.5em 5em;
  list-style: none;
  li {
    margin: 1em 0;
  }
}